aux/
.aux/
Erklaerung_zur_Abschlussarbeit_Vorlage-fuer_digitale_Abgabe.pdf
main.bbl
main.fdb_latexmk
main.synctex.gz
main.xopp
main_old.pdf
main_vimtex_selected.dvi
main_vimtex_selected.pdf
main_vimtex_selected.synctex.gz
main_vimtex_selected.tex
tuda-vorlage-ohne-deisgn/
